{% extends "tweet/tweet_base.html" %}
{% load url from future %}

{% block additional_header_info %}
{{ block.super }}
<script src="{{ STATIC_URL }}tweet_assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}tweet_assets/bootstrap/js/bootstrap-limit.js"></script>
<style type="text/css">
#id_tbl_evt_list th {text-align:center;}
a.btn{cursor:hand;}
</style>
<script type="text/javascript">

    function schedule_tweet( tweet_id, lnk_identifier){
        
        // hide reject button
        $('#reject' + tweet_id).hide();
		// unbind schedule button
		lnk_identifier.unbind('click');
		
        url_str = "{% url 'view_ajax_schedule_tweet_base' %}" + tweet_id + "/";
        jQuery.ajax({
          url: url_str,
          success: function(data) {
              if (data.status == 1){ // schedule succeeeded
                  lnk_identifier.text(data.msg);
                  lnk_identifier.removeClass('btn-info');
                  lnk_identifier.addClass('btn-success');
              }else{    // schedule failed              
                  lnk_identifier.text(data.msg);
                  lnk_identifier.removeClass('btn-success');
                  lnk_identifier.addClass('btn-warning');
              }
          }
        })
    }   // end schedule_tweet

    function reject_tweet( tweet_id, lnk_identifier){
       
        $('#schedule' + tweet_id).hide();  // hide schedule button
		
		lnk_identifier.unbind('click');     // unbind reject button
		
		// Make ajax call
        url_str = "{% url 'view_ajax_reject_tweet_base' %}" + tweet_id + "/";
        jQuery.ajax({
          url: url_str,
          success: function(data) {
              if (data.status == 1){ // reject succeeeded
                  lnk_identifier.text(data.msg);
                  lnk_identifier.removeClass('btn-warning');
                  lnk_identifier.addClass('btn-inverse');
              }else{    // reject failed              
                  lnk_identifier.text(data.msg);
                  lnk_identifier.removeClass('btn-warning');
                  lnk_identifier.addClass('btn-danger');
              }
          }
        })
    }   // end reject_tweet



    $(function () {
    
        // Click schedule tweet
        $('a.schedule-tweet').click(function(){
      		evt_row_info = this.rel.split('|');
      		//msg = "event: " + evt_row_info[0] + "   row: " +  evt_row_info[1];
      		//$(this).text(msg);                
      			schedule_tweet(evt_row_info[0], $(this));
		});

        // Click reject tweet
        $('a.reject-tweet').click(function(){
      			evt_row_info = this.rel.split('|');
      			reject_tweet( evt_row_info[0], $(this));      		
      	});
   });

</script>
{% endblock %}


{% block main_container %}
<div id="id_tweet_msg"></div>
{% if not upcoming_events %}
<div class="alert alert-info">
   Any upcoming calendar events have already been scheduled.
</div>
{% endif %}

{% if upcoming_events %}
    <strong>{{ upcoming_events|length }} event{{ upcoming_events|length|pluralize }} found.</strong>
    <table class="table table-bordered table-hover" style="width:650px;" id="id_tbl_evt_list">
        <thead>
            <tr>
                <th>#</th>
                <th>Tweet Date</th>
                <th>Tweet</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
    {% for event in upcoming_events %}
        <tbody>
            <tr id="row_{{ forloop.counter }}">
                <td>{{ forloop.counter }}</td>
                <td>{{ event.tweet_pubdate|date:"n/d/Y" }}
                    <br />{{ event.tweet_pubdate|date:"f:s a" }}
                    </td>
                <td>{{ event.full_tweet }}
                    <br /><a href="{% url 'admin:tweet_mcb_mcbtweetevent_change' event.id  %}">edit</a>
                    </td>
                <td><a id="schedule{{ event.id }}" rel="{{ event.id }}|row_{{ forloop.counter }}" class="btn btn-small btn-info schedule-tweet">Schedule Tweet</a></td>
                <td><a id="reject{{ event.id }}" rel="{{ event.id }}|row_{{ forloop.counter }}" class="btn btn-small btn-warning reject-tweet">Reject Tweet</a></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}



