{% extends "tweet/tweet_base.html" %}
{% load url from future %}

{% block additional_header_info %}
{{ block.super }}
<script src="{{ STATIC_URL }}tweet_assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}tweet_assets/bootstrap/js/bootstrap-limit.js"></script>
<script type="text/javascript">

function shorten_url(){
    // reset error message div
    $('#url_shorten_err_msg').html('');
    $('#url_shorten_err_msg').hide();
    
    lnk_val = $('#id_link').val();
    if (lnk_val.length == 0){
        return;
    }
    if (lnk_val.length < 20){
        alert('The url doesn\'t need shortening');
        return;
    }
    
    url_str = "{% url 'view_ajax_shorten_url' %}?lnk=" + lnk_val;

    jQuery.ajax({
      url: url_str,
      success: function(data) {
          if (data.success == 1){
              //alert('new url ' + data.short_url );   
              $('#id_link').val(data.short_url);           
          }else{
              $('#url_shorten_err_msg').html(data.err_msg);
              $('#url_shorten_err_msg').show();              
          }
      }
    })
}

$(function () {
         $('.limit').limit({ 
                maxChars: 120, counter:"msg_counter"   
        });
        

        $('a#lnk_shorten_url').click(function(){
            shorten_url();
        })
        
        $('#url_shorten_err_msg').hide();
        //alert('blah');
   });

</script>
{% endblock %}


{% block main_container %}
<!--span style="font-weight:normal">(uses the UIS validation service)</span-->
<form method="post" action="{% url 'view_tweet_console' %}">
        {% csrf_token %}
	<table>

	 <div id="url_shorten_err_msg" class="alert alert-error" style="display:none;"></div>

	{% if TWEET_SUCCESS %}
	 <div class="alert alert-success">
           Your tweet has been sent!  
    </div>
	{% endif %}
    {% for field in tweet_form %}
        <tr>    
            <td> 
                {{ field.label }} 
                {% if field.name == 'link' %}
                    <a id="lnk_shorten_url">(shorten url)</a>
                {% endif %}
                
                {% if field.help_text %}({{ field.help_text|safe }}){% endif %}
                {% if field.errors %}
                        <br /><span class="text-error">
                            {% for err in field.errors %}
                               {{ err }} 
                            {% endfor %}</span>
                   {% endif %}
                <br />{{ field }}
                {% if field.name == 'message' %}
                    <div id="msg_counter" style="text-align:right; padding:0 10px; color:#006699;font-size:90%;"></div>
                {% endif %}
            </td>
        </tr>
        
    {% endfor %}
        <tr>
            <td style="border:none; text-align:right;padding:0 10px;">
                    <a class="btn" href="{% url 'view_tweet_console' %}">Reset</a>
                    &nbsp; <input type="submit" name="submit" value="Tweet!" class="btn btn-primary" />
                    
            </td>
        </tr>
      	</table>

      	</form>
{% endblock %}



